body{
	background-color: rgb(168,170,170);
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	font-family: "Courier New", "Source Han Serif SC";
	font-weight: lighter;
	font-size: .4cm;
}

# @media screen and (-webkit-min-device-pixel-ratio:0)
{
#safari { background-color:rgb(168,170,170) }
}

ul{
	margin: 0;
    padding: 0;
	list-style-type: none;
}

ul li{
	height: 24px;
}

table{
	border-spacing: 0;
}

.vert-wrap{
	float: left;
	position: relative;
}

.menu-lv1{
	margin-top: 1vh;
	margin-left: 1vw;
}

.menu-lv2{
	display: none;
	margin-top: 1vh;
}

.menu-lv1 .content{
	width: 8vw;
}

.menu-lv2 .content, .menu-lv2 .content .about-content{
	width: 17vw;
}

a{
	text-decoration: none;
}

.publication-toggle, .publication .content, .publication .content a{
	color: rgb(228,23,34);
}

.music-toggle, .music .content, .music .content a{
	color: rgb(10,77,181);
}

.about-toggle, .about .content, .about .content a{
	color: rgb(0,141,69);
}

.pub-content, .music-content, .about-content{
	position:fixed;
}

.lv3{
	display:none;
	box-sizing: border-box;
}

.entry{
	width: 45vw;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
}

.entry a{
	color: red;
}

.switcher{
	position: absolute;
	z-index: 10000;
	right: 5vw;
}

.logo3d-container{
	margin: auto;
	position: relative;
	float: left;
	/* z-index: 1; */
}

#logo3d{
	border: 0;
	background: none;
}
