body{
	background-color: #d9d9d9;
	height: 100vh;
	overflow-y: hidden;
	margin: 0;
}

# @media screen and (-webkit-min-device-pixel-ratio:0)
{
#safari { background-color:#d9d9d9 }
}

.vert-wrap{
	float: left;
	position: relative;
}

.menu-lv1{
	margin-top: 1vh;
	margin-left: 1vw;
}

.menu-lv2{
	display: none;
	margin-top: 1vh;
}

.menu-lv1 .content{
	width: 10vw;
}

.menu-lv2 .content{
	width: 15vw;
}

a{
	text-decoration: none;
}

.publication-toggle, .publication .content, .publication .content a{
	color: red;
}

.music-toggle, .music .content, .music .content a{
	color: blue;
}

.about-toggle, .about .content, .about .content a{
	color: green;
}

.lv3{
	display:none;
	box-sizing: border-box;
}

.entry{
	width: 45vw;
	height: 100vh;
	overflow-y: scroll;
	box-sizing: border-box;
}

.entry a{
	color: red;
}

.switcher{
	position: absolute;
	z-index: 10000;
	right: 5vw;
}

.logo3d-container{
	margin:auto;
	position:relative;
}

#logo3d{
	border: 0;
	background: none;
}
