body{
	font-size:17px;
	line-height:26px;
	background-color: #a8aaaa;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}

-webkit-scrollbar{
	width: 0 !important;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: line-through;
}

ul{
	margin: 0;
    padding: 0;
	list-style-type: none;
}

div{
	float:left;
}

#lang-switch{
	float: right;
	position:fixed;
	z-index: 3;
	right: 1em;
	left: auto;
	top: 1em
}

.lv1{
	margin-left: 1em;
}

.lv1, .lv2{
	margin-right: 1em;
	margin-top: 1em
}

.lv2, .lv3{
	display:none;
}

.lv1, .lv2, .lv3{
	/* z-index: 2; */
	/* pointer-events: none; */
}

.publication td a, .pub-entry a{
	color: #e41722;
}

.lv3{
	width: 50%;
	margin-top: 1em
}

.lv3 .content{
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	padding-right: .5em;
}

/* .about .content{ */
	/* height: 100vh; */
	/* overflow-x: hidden; */
	/* box-sizing: border-box; */
	/* overflow-y: auto; */
	/* overflow-x: hidden; */
/* } */

.about{
	width: 30%;
}

.about a{
	color: #008d45;
}

.purchase{
	border:1px;
	border-style:solid;
	border-color:#000000;
}

.logobox{
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100vh;
}

.main-wrapper{
	position:fixed;
	z-index: 2;
}
/* .logobox x3d{ */
	/* width: 500px; */
	/* height: 500px; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* margin-top: 20%; */
	/* clear:both; */
/* } */
